
.loai1{
  display: grid;
  grid-template-columns: 330px 1fr;
}
.loai1 > p{
  margin-left: 10px;
  margin-top: 0px;
  text-align: justify;
}
.loai2{
  display: grid;
  grid-template-columns: 1fr 360px;
}
.loai2 > p{
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  text-align: justify;
}
.loai3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}
#div-4 {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}
.step-img{
  text-decoration: none;
  text-align: center;
  border: 1px solid #f9086d;
  padding-top: 10px;
  border-radius: 5px;
}
.step > p{
  text-align: center;
}